<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="./stile.css" type="text/css">
</head>
<html>
    <body>
        <form action="" method="post">
            <button type="submit" name="avanti" value="avanti">AVANTI</button>
            <button type="submit" name="indietro" value="indietro">INDIETRO</button>
            <button type="submit" name="destra" value="destra">DESTRA</button>
            <button type="submit" name="sinistra" value="sinistra">SINISTRA</button>
            <button type="submit" name="curvaDx" value="curvaDx">CURVA DX</button>
            <button type="submit" name="curvaSx" value="curvaSx">CURVA SX</button>
            <button type="submit" name="rotondaDx" value="rotondaDx">ROTONDA DX</button>
            <button type="submit" name="rotondaSx" value="rotondaSx">ROTONDA SX</button>
            <button type="submit" name="stop" value="stop">STOP</button>
        </form>
    </body>
</html>